<p class = "text-danger mb-0">本当にあなたの情報を削除しますか？</p>
<p class = "mb-3">※あなたの予約情報も削除されます</p>


<%= link_to "戻る", me_path, class: "btn btn-success inline mr-3" %>
<%= link_to "削除する", me_path, method: "DELETE", class: "btn btn-danger inline" %>
