<header class="navbar navbar-expand-sm sticky-top navbar-dark bg-info">
  <div class="container">
    <%= link_to "LIBRA", "#", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li><%= link_to "Home", root_path, class: "nav-link active" %></li>
          <li><%= link_to "Help", '#', class: "nav-link" %></li>
          <li><%= link_to "Log in", '#', class: "nav-link" %></li>
        </ul>
    </div>
  </div>
</header> 
